body {
  margin: 0;
  padding: 20px 40px ;
  font-family: 'BIZ UDMincho',
sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: rgb(33, 224, 173);
}

*{
  box-sizing: border-box;
}